@font-face {
  font-family: "univers";
  font-weight: bold;
  src: url("../fonts/UniversLTStd-BoldCn.otf") format("opentype"); }
@font-face {
  font-family: "univers";
  font-weight: 200;
  src: url("../fonts/UniversLTStd-LightCn.otf") format("opentype"); }
@font-face {
  font-family: "univers";
  font-weight: normal;
  src: url("../fonts/UniversLTStd-Cn.otf") format("opentype"); }
@font-face {
  font-family: "univers";
  font-weight: 600;
  src: url("../fonts/UniversLTStd-UltraCn.otf") format("opentype"); }
@font-face {
  font-family: "univers";
  font-weight: 500;
  src: url("../fonts/UniversLTStd-LightUltraCn.otf") format("opentype"); }
@font-face {
  font-family: 'icon-worksregular';
  src: url("../fonts/icon-works-webfont.eot");
  src: url("../fonts/icon-works-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-works-webfont.woff") format("woff"), url("../fonts/icon-works-webfont.ttf") format("truetype"), url("../fonts/icon-works-webfont.svg#icon-worksregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'genericons';
  src: url("../fonts/genericons.eot");
  src: url("../fonts/genericons.eot?#iefix") format("embedded-opentype"), url("../fonts/genericons.woff") format("woff"), url("../fonts/genericons.ttf") format("truetype"), url("../fonts/genericons.svg#Genericons") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #fff;
  font-family: "univers"; }

select, option, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 16px; }

.pushed {
  right: 250px !important; }

.main-section, .footer {
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar .navbar-header img {
  padding: 10px 20px; }
.navbar .navbar-toggle {
  margin-top: 24px; }
.navbar .navbar-nav .join-donate a {
  color: #6acfae; }

.navbar {
  position: absolute;
  top: -101px;
  right: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 1000;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 60px; }
  .navbar svg {
    width: 80% !important;
    height: 60px; }
  .navbar .navbar-header {
    float: left;
    width: 146px;
    margin: 7px 0 0 40px; }
  .navbar .navbar-toggle {
    display: block;
    border: 0;
    background-color: #ffc425;
    border-radius: 0;
    width: 60px;
    height: 60px;
    margin: 0;
    text-align: center; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #000;
      width: 35px;
      height: 6px;
      margin: 5px auto 7px; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #ffc425; }
  .navbar .container-fluid {
    padding: 0; }
  .navbar .buttons {
    margin-right: 28px;
    display: none; }
    .navbar .buttons button {
      height: 54px;
      width: 157px;
      margin-top: 10px;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: 400; }
      .navbar .buttons button:nth-child(1) {
        background-color: #70d0af;
        border: 3px solid #70d0af; }
      .navbar .buttons button:nth-child(2) {
        margin-left: 7px;
        border: 3px solid #000;
        background-color: #f6f9fe;
        color: #000; }
  .navbar .day-counter {
    display: none;
    float: left;
    color: #000;
    text-transform: uppercase;
    padding: 6px 24px;
    border-left: 1px solid #e5e5e5; }
    .navbar .day-counter .top {
      margin-top: 2px; }
      .navbar .day-counter .top .int {
        color: #70d0af;
        font-size: 42px;
        display: block;
        float: left;
        font-weight: 600;
        margin-left: -5px;
        letter-spacing: 2px;
        line-height: 55px; }
      .navbar .day-counter .top .days-left {
        font-size: 21px;
        font-family: "univers";
        font-weight: 600;
        border-bottom: 4px solid #000;
        margin-top: 5px;
        display: block;
        float: right; }
    .navbar .day-counter .clearfix {
      clear: both; }
    .navbar .day-counter .until {
      font-size: 13px;
      font-family: 'Open Sans';
      margin-top: -13px;
      display: block;
      letter-spacing: 1px; }

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  z-index: 1000;
  -webkit-transition: right 0.3s !important;
  -moz-transition: right 0.3s !important;
  -o-transition: right 0.3s !important;
  transition: right 0.3s !important;
  background-color: #232928;
  color: #fff; }
  #sidebar a {
    color: #fff; }
  #sidebar .close {
    color: #A2ACAA;
    font-size: 32px;
    text-shadow: 0 0 0 #000;
    margin: 30px; }
  #sidebar .pages {
    list-style: none;
    padding-top: 70px; }
    #sidebar .pages li {
      font-size: 27px;
      margin: 0 0 10px; }
  #sidebar .bottom {
    position: absolute;
    bottom: 10px;
    left: 40px;
    text-align: center; }
    #sidebar .bottom p {
      color: #6d6e71; }
    #sidebar .bottom .social {
      list-style: none;
      padding: 0; }
      #sidebar .bottom .social li {
        display: inline-block;
        margin: 0 10px;
        font-size: 17px;
        vertical-align: middle; }
        #sidebar .bottom .social li span {
          font-size: 22px; }
          #sidebar .bottom .social li span.email {
            font-family: "icon-worksregular"; }
    #sidebar .bottom .privacy {
      text-transform: uppercase;
      color: #6acfae; }
  #sidebar.show {
    right: 0; }

.page-nav {
  position: fixed;
  top: 0; }

.main-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  text-align: center;
  padding-left: 0;
  list-style: none; }
  .footer .social {
    color: #6d6e71;
    padding: 10px 0 0 0; }
    .footer .social li {
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle; }
      .footer .social li span {
        font-size: 30px; }
        .footer .social li span.hash {
          font-size: 22px; }
    .footer .social .email {
      font-family: "icon-worksregular"; }
  .footer p {
    color: #6d6e71; }
  .footer img {
    display: none;
    padding: 15px 0; }
    
input[type=text]:focus, textarea:focus {
  box-shadow: none;
  border: 2px solid #78d3b6;
}

@media (min-width: 768px) {
  .pushed {
    right: 350px !important; }

  #sidebar {
    width: 350px;
    right: -350px; }

  .navbar {
    min-height: 73px; }
    .navbar svg {
      margin: 0 !important;
      width: 90% !important; }
    .navbar .navbar-toggle {
      width: 73px;
      height: 74px; }
    .navbar .buttons {
      display: block; }

  .footer .social {
    padding: 30px 0 10px 0; }
    .footer .social li {
      margin: 0 15px; } }
@media (min-height: 900px) {
  .footer p {
    margin-top: 15px; }
  .footer img {
    display: inline; } }
@media (min-width: 992px) {
  .navbar .day-counter {
    display: inline-block; } }
body {
  background-image: url("../img/home/button-overlay1.jpg"); }

.footer img {
  display: inline; }

.main-section {
  background-image: url("../img/simulcast/bg.jpg"); }
  .main-section h1 {
    color: #232928;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .main-section p {
    color: #6d6e71;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 1px; }
  .main-section form {
    margin: 25px auto;
    max-width: 742px; }
    .main-section form input {
      box-shadow: none;
      border: 1px solid #c7c6c4;
      -webkit-appearance: none;
      font-size: 26px;
      border-radius: 0;
      height: 74px;
      padding: 6px 12px 0;
      color: #3A3A3A;
      font-size: 15px; }
    .main-section form button {
      width: 100%;
      border-radius: 0;
      border: 0;
      background-image: url("../img/base/overlay1.jpg");
      background-color: #70d0af; 
      color: #fff;
      font-family: 'Open Sans';
      font-size: 20px;
      padding: 18px; 
      }
     .main-section form button:hover {   
      background-color: #60BA9B;
			background-image: none;
			transition: 0.1s ease-in;
			-o-transition: 0.1s ease-in;
			-ms-transition: 0.1s ease-in;
			-moz-transition: 0.1s ease-in;
			-webkit-transition: 0.1s ease-in;
			}
    .main-section form .form-group {
      margin-bottom: 32px;
      overflow: auto; }
  .main-section .countdown {
    display: none; }
    .main-section .countdown p {
      margin-top: 75px;
      margin-bottom: 33px;
      color: #6d6e71;
      text-transform: uppercase;
      font-family: 'Open sans';
      font-size: 18px;
      font-weight: 600; }
    .main-section .countdown .clock {
      margin: 0 auto;
      width: 740px; }
      .main-section .countdown .clock .dots {
        display: inline-block;
        float: left; }
        .main-section .countdown .clock .dots div {
          background-color: #6d6e71;
          height: 9px;
          width: 9px;
          display: block; }
        .main-section .countdown .clock .dots .top-dot {
          margin-top: 40px;
          margin-bottom: 18px; }
      .main-section .countdown .clock .time-group {
        max-width: 261px;
        margin: 0 4px;
        float: left; }
        .main-section .countdown .clock .time-group div {
          display: inline-block;
          min-width: 77px;
          min-height: 113px;
          margin: 0 4px;
          padding-top: 15px;
          background-image: url("../img/base/overlay1.jpg");
          color: #fff;
          font-size: 70px;
          border-radius: 4px; }

@media (min-width: 768px) {
  .main-section h1 {
    font-size: 68px;
    margin-top: 85px;
    margin-bottom: 35px; }
  .main-section p {
    font-size: 16px;
    margin-bottom: 60px; }
  .main-section form input {
    padding: 6px 32px 0; }
  .main-section form button {
    max-width: 320px;
    margin-top: 20px;
    margin-bottom: 250px; }
  .main-section form .two-on-row input {
    width: 48%;
    display: inline-block; }
    .main-section form .two-on-row input:nth-child(1) {
      float: left; }
    .main-section form .two-on-row input:nth-child(2) {
      float: right; }
  .main-section .countdown {
    display: block; } }
